<h1
  style="
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  "
>
  Angular: Users depicting server side rendering
</h1>
<ol
  class="list-group"
  style="
    text-align: center;
    color: #66b2ff;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  "
>
  <li
    *ngFor="let post of posts"
    class="list-group-item"
    style="
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    "
  >
    {{ post.title }}
  </li>
</ol>
